/* MOBILE */

footer {
    grid-area: footer;
    background-color: var(--footer-background-color-small);
    border-radius: 1rem;
    padding: 1rem;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;

    .copyright {
      color: var(--footer-copyright-text-color);
      font-size: 12px;
      font-weight: 500;
    }

    .links {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 0.5rem;

      a {
        color: var(--footer-link-text-color);
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;

        &:hover {
          color: var(--footer-link-text-hover-color);
        }
      }
    }

    .social-media {
      display: flex;
      gap: 1rem;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  /* TABLET */

  @media (width >= 768px) {

    footer {
      background-color: var(--footer-background-color-large);
    }

    .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;

      .left-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
      }

      .social-media img {
        width: 15px;
        height: 15px;
      }
      }

    }

  @media (width >= 1400px) {

    .left-group {
      gap: 2rem;
    }

    .footer-content {
      .social-media img {
        width: 23px;
        height: 23px;
      }
    }
  }



